@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .is-hidden {
    @apply opacity-0 translate-y-5 scale-90;
  }
  .is-visible {
    @apply opacity-100 translate-y-0 scale-100;
  }
}